<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
    <link rel="stylesheet" href="./LandingPage.css">
</head>
<body>
<section id="section-header">
  <div class="container">
    <header class="site-header">
      <div class="logo-container">
        <img
          src="mylogo.png"
          alt="StayHealthy Logo"
          class="logo"
        />
      </div>
      <nav class="main-nav">
        <a href="../Landing_Page/LandingPage" class="nav-btn active">Home</a>
        <a href="#" class="nav-btn">Appointments</a>
        <a href="#" class="nav-btn">Records</a>
        <a href="#" class="nav-btn">Reviews</a>
        <a href="../SignUP/SignUp.html" class="nav-btn">Sign Up</a>
        <a href="../Login/Login.html" class="nav-btn">Log In</a>
      </nav>
    </header>
  </div>
</section>

<section id="section-hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="hero-title">Get Started!</h1>
      <p class="hero-description">
        Take the first step toward better healthcare with ease. Find trusted
        doctors and book appointments in just a few clicks, and manage your
        health journey all in one place.
      </p>
      <div class="hero-actions">
          <a href="SignUP.html">
        <button class="action-btn">Sign Up</button>
          </a>
          <a href='Login'>
        <button class="action-btn">Log In</button>
          </a>
        <button class="action-btn">Continue as guest</button>
      </div>
    </div>
  </div>
</section>
</body>
</html>
